.nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 8%;
  padding-right: 8%;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonActive {
  background-color: #333;
  color: #fff;
}

.buttonInactive {
  background-color: #eee;
  color: #000;
}
.contentWrapper {
  padding-left: 8%;
  padding-right: 8%;
}
.link-container {
  text-align: center; 
  margin: 20px 0; 
}
.headerWrapper {
  padding-left: 5%;
  padding-right: 5%;
}