.footer {
  position: relative;

  color: #fff;
  padding: 40px 20px 0;
  text-align: center;
  font-family: sans-serif;
}

.address {
  margin-bottom: 20px;
}

.emailLink {
  color: #4acaff;
  text-decoration: none;
}

.scrollTop {
  margin: 20px 0;
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
  transition: color 0.3s;
}
.scrollTop:hover {
  color: #fff;
}


.copyRight {
  margin-top: -30px;
  padding-bottom: 20px;
  color: #555;
  font-size: 14px;
}
