.footer {
  position: relative;
  text-align: center;
  font-family: sans-serif;
}



.emailLink {
  color: #4acaff;
  text-decoration: none;
}

.scrollTop {
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
  transition: color 0.3s;
}
.scrollTop:hover {
  color: #fff;
}

.copyRight {
  color: #555;
  font-size: 14px;
}
